@page "/presupuesto"
@using Construction.Shared.Entidades
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h1> Pre$upue$to </h1>

<div class="card">
    <div class="card-header">
        <span>
            
            <a class="btn btn-primary btn-sm float-end" href="/presupuesto/create"> Ingresar Nuevo Pre$upue$to </a>

        </span>
    </div>
    <div class="card-body">
        <GenericList MyList="presupuestos">
            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Listado Del Presupuesto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in presupuestos)
                        {
                            <tr>
                                <td>
                                    <a href="/presupuesto/edit/@item.Id" class="btn btn-sm btn-warning"> Editar </a>
                                    <button @onclick=@(() => DeleteAsync(item)) class="btn btn-sm btn-danger"> Borrar </button>
                                </td>
                                <td>
                                    @item.CostoManoObra
                                </td>
                                <td>
                                    @item.CostoMateriales
                                </td>
                                <td>
                                    @item.CostoMaquinas
                                </td>
                                <td>
                                    @item.CostoProyecto
                                </td>
                                <td>
                                    @item.CostoTarea
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>

</div>


@code {
    public List <Presupuesto> presupuestos { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }
    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Presupuesto>>("/api/Presupuestos");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        presupuestos = responseHttp.Response;
    }
    private async Task DeleteAsync(Presupuesto presupuestos)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el proyecto contruccion ?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Presupuesto>($"api/Presupuestos/id:int?id={presupuestos.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("presupuesto");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}
