@page "/materiales"
@using Construction.Shared.Entidades
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h1>Materiales</h1>

<div class="card">
    <div class="card-header">
        <span>
            
            <a class="btn btn-primary btn-sm float-end" href="/materiales/create"> Ingresar Nuevo Material </a>

        </span>
    </div>

    <div>
        <GenericList MyList="materiales">
            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Listado Materiales</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th> </th>
                            <th> Id </th>
                            <th>Nombre Material</th>
                            <th>Cantidad </th>
                            <th>Nombre Proveedor</th>
                            <th>Fecha Entrega Material</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in materiales)
                        {
                            <tr>
                                <td>
                                    <a href="/materiales/edit/@item.Id" class="btn btn-sm btn-warning"> Editar </a>
                                    <button @onclick=@(() => DeleteAsync(item)) class="btn btn-sm btn-danger"> Borrar </button>
                                </td>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Nombre
                                </td>
                                <td>
                                    @item.Cantidad
                                </td>
                                <td>
                                    @item.Provedor
                                </td>
                                <td>
                                    @item.FechaEntregaAprox
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>

@code {

    public List<Material> materiales { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }
    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Material>>("/api/Materiales");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        materiales = responseHttp.Response;
    }
    private async Task DeleteAsync(Material materiales)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el Material: {materiales.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Material>($"api/Materiales/id:int?id={materiales.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("materiales");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }

}