@page "/tarea"

@using Construction.Shared.Entidades
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager


<h1>Tareas</h1>

<div class="card">
    <div class="card-header">
        <span>

            <a class="btn btn-primary btn-sm float-end" href="/tarea/create"> Nueva tarea </a>

        </span>
    </div>

    <div class="card-body">
        <GenericList MyList="tareas">
            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Listado de tareas</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th> </th>
                            <th> Id </th>
                            <th>Nombre de la Tarea</th>
                            <th>Descripcion de la Tarea</th>
                            <th>Fecha Inicio Tarea</th> 
                            <th>Fecha Entrega </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in tareas)
                        {
                            <tr>
                                <td>
                                    <a href="/tarea/edit/@item.Id" class="btn btn-sm btn-warning"> Editar </a>
                                    <button @onclick=@(() => DeleteAsync(item)) class="btn btn-sm btn-danger"> Borrar </button>
                                </td>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Nombre
                                </td>
                                <td>
                                    @item.Descripcion
                                </td>
                                <td>
                                    @item.FechaInicio
                                </td>
                                <td>
                                    @item.FechaAproxFinalizacion
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </Body>

        </GenericList>
    </div>
</div>

@code {
    public List<Tarea> tareas { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }
    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Tarea>>("/api/Tareas");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        tareas = responseHttp.Response;
    }
    private async Task DeleteAsync(Tarea tareas)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar La tarea: {tareas.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Tarea>($"api/Tareas/id:int?id={tareas.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("tarea");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}
